*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}


.container{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.content{
  align-items: center;
  display: flex;
  color: white;
  height: 65px;
  height: 100%;
  padding: 20px;
}
.logo{
  height: 100%;
  margin-right:6px ;
}
.title{
  font-size: 1.25rem;
  /* margin-left: auto; */
}

.project{
  margin-left: auto;
}
.form-container{
  display: flex;
  justify-content: center;
  max-width: 768px;
  align-items: center;
  padding: 36px;
  margin: 0 auto;
}
.form{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:40px 40px ;
  column-gap: 2rem;
  row-gap: 15px;
}

.form input{
  width: 230px;
  height: 35px;
  padding: 20px;
  border-radius: 10px;
}

.btn{
  grid-column: 1/-1;
  border: none;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
.memesimg-container{
  display: flex;
  margin: 0 auto;
  position: relative;
}

.meme-img{
  width: 800%;
  height: 100%;
  border-radius: 5%;
  margin: 20px;
  object-fit: cover;
  background-size:3000px;
  
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}